<div class="footer-wrapper">
    <div class="circle-light"></div>
    <div class="footer-slogan-wrapper">
        <p class="main-slogan">Generative A.I.</p>
        <p class="main-slogan">Elevate your strategy for the future</p>
        <p class="sub-slogan">Unleash the Power of Generative A.I. Across Any Application and Platform</p>
        <div class="footer-btn-group d-flex gap-3">
            <button class="btn request-btn">Request a Demo</button>
            <button class="btn download-btn">Download now</button>
        </div>
    </div>
    <div class="footer-info-policy-wrapper d-flex justify-content-between">
        <div class="info-col d-flex flex-column gap-3">
            <div class="company-name d-flex gap-4 align-items-center">
                <img src="assets/icons/2gai-icon.svg">
                <p class="text">2GAI</p>
            </div>
            <div class="company-info d-flex gap-4 align-items-center">
                <img src="assets/icons/mail-icon.svg">
                <p class="text">info@neoprototype.ca</p>
            </div>
            <div class="company-info d-flex gap-4 align-items-center">
                <img src="assets/icons/tele-icon.svg">
                <p class="text">(951) 850 8516</p>
            </div>
        </div>
        <div class="company-policy-col d-flex flex-column gap-2 justify-content-end">
            <p class="text">Terms</p>
            <p class="text">Privacy</p>
            <p class="text">Cookies</p>
        </div>
    </div>
    <div class="space-line"></div>
    <div class="company-version">
        <p>© 2023 2Gai Ltd. | Version 1.0.0</p>
    </div>

</div>