<div class="login-wrapper">
    <app-header-component></app-header-component>
    <div class="request-popup-overlay" >
        <div class="popup-request-wrapper">
            <div class="popup-header">
                <img class="logo-icon" src="assets/icons/2gai-icon.svg">
                <p class="header-title">Log in to your account</p>
                <p class="header-intro">Welcome back! Please enter your details..</p>
            </div>
            <form class="request-form-wrapper">
                <div class="form-input">
                    <label class="input-label">Email</label>
                    <input type="email" class="input-text" placeholder="Enter your email">
                </div>
                <div class="form-input">
                    <label class="input-label">Password</label>
                    <input type="password" class="input-text" placeholder="••••••••">
                </div>

                <div class="remember-password d-flex justify-content-between align-items-center">
                    <div class="remember-check d-flex gap-2">
                        <input type="checkbox" #rememberCheckbox>
                        <label for="rememberCheckbox">Remember for 30 days</label>
                    </div>
                    <p>Forgot password</p>
                </div>

                <div class="request-submit-btn w-100">
                    <button class="btn w-100" >Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>